
{% extends "layout_blank.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation Support Interface
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.5.0<p>25/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS - in progress 25/01/2019</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Updated tags on provider record page</li>
                <li>Removed older submissions section</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-5-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.4.0<p>15/01/2019</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS - in progress 15/01/2019</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Updated tags on provider record page</li>
                <li>Removed older submissions section</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-4-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.3.0<p>03/12/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface MVS - stopped 03/12/2018</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Moved tags on provider record </li>
                <li>Added date to submission history and updated download links/names</li>

            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-3-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-3-0/lynn.html">Operations View</a>--></td>
    </tr>
      <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.2.0<p>30/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>updated search results page to remove banner and added date</li>
                <li>moved search functionality up on the provider record</li>
                <li>updated dashboard page content and links</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-2-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><!--<a href="1-2-0/lynn.html">Operations View</a>--></td>
    </tr>
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.1.0<p>19/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>updated search results page</li>
                <li>added submitted by</li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-1-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><a href="1-1-0/lynn.html">Operations View</a></td>
    </tr>
          <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.0.0<p>23/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>provider search function</li>
                <li>in-period activity per provider</li>
                <li>provider reports history</li>
                <li>login</li>
                <li>operations dashboard</li>
                <li>processing queue </li>
            </ul>
        </td>
        <td class="govuk-table__cell "><a href="1-0-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><a href="1-0-0/lynn.html">Operations View</a></td>
    </tr>


  </tbody>
</table>


    </div>
</div>

{% endblock %}
