
{% extends "layout_blank.html" %}

{% block pageTitle %}
  Submit learner data support interface
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data Collections Transformation Support Interface        
      </h1>
      <p>
        Please do not enter any personal information. This prototype is not secure.
      </p>

     <table class="govuk-table">
  <caption class="govuk-table__caption visually-hidden">List of versions</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="col">Version</th>
		<th class="govuk-table__header" scope="col">Updates</th>
      <th class="govuk-table__header" scope="col" colspan="2">Contents</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
       <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.1.0<p>19/11/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>updated search results page</li>
                <li>added submitted by</li>
            </ul>
        </td>        
        <td class="govuk-table__cell "><a href="1-1-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><a href="1-1-0/lynn.html">Operations View</a></td>
    </tr>
          <tr class="govuk-table__row">
      <th class="govuk-table__header" scope="row">1.0.0<p>23/10/2018</p></th>
        <td class="govuk-table__cell ">
            <p>Support interface</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>provider search function</li>
                <li>in-period activity per provider</li>               
                <li>provider reports history</li>                
                <li>login</li>
                <li>operations dashboard</li>
                <li>processing queue </li>
            </ul>
        </td>        
        <td class="govuk-table__cell "><a href="1-0-0/start.html">Helpdesk View</a></td>
     <td class="govuk-table__cell "><a href="1-0-0/lynn.html">Operations View</a></td>
    </tr>
    
   
  </tbody>
</table>

      
    </div>
</div>

{% endblock %}
